:root {
    --modal-backround-color: #2b2d30;
    --hover-color: #404145;
    --modal-border-color: #43454a;
}

.box {
    background-color: var(--modal-backround-color);
    border-color: var(--modal-border-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    padding: 0 1em 1em;
    display: block;
    width: 80vw;
}
.box h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
    border-bottom: 4px solid #ffffff;

    font-size: calc(clamp(15px, 3vw, var(--max-font-size)) + 60%);
}
.box h2 {
    text-align: left;
    color: #ffffff;
    margin: 10px 0;
}
.box h3 {
    margin: 1vh 0 0 0;
}

