:root {
    --modal-backround-color: #2b2d30;
    --modal-backround-color-hover: #404145;
    --modal-border-color: #43454a;
}
.box {
    background-color: var(--modal-backround-color);
    border-color: var(--modal-border-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    padding: 0 1em 1em;
    display: block;
    width: 80vw;
}

.box h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
    border-bottom: 4px solid #ffffff;

    font-size: calc(clamp(15px, 3vw, var(--max-font-size)) + 60%);
}

.box h2 {
    text-align: left;
    color: #ffffff;
    margin: 10px 0;
}

.box-row {
    padding: 0.7em;
    border-bottom: 3px solid #ffffff;
}

.box-row:last-child {
    border-bottom: none;
}

.box-row-highlight {
    background-color: #733556;
    color: #6ca524;
}

.box-row-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 2px solid #7589a6;
    padding-bottom: 10px;
}