/* Buttons */

.button {
    --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
    --edge-light: hsla(0, 0%, 50%, 0.8);
    --text-light: rgba(255, 255, 255, 0.4);
    --back-color: 225, 10%;

    cursor: pointer;
    padding: 0.4em;
    border-radius: 8px;
    display: flex;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;
    font-size: 0.7em;
    margin: 0.3em;

    background: linear-gradient(
            140deg,
            hsla(var(--back-color), 50%, 16%) min(2em, 20%),
            hsla(var(--back-color), 50%, 12%) min(8em, 100%)
    );
    color: hsla(0, 0%, 90%);
    border: 0;
    box-shadow: inset 0.4px 1px 4px var(--edge-light);

    transition: all 0.1s var(--bezier);
}

.button:hover {
    --edge-light: hsla(0, 0%, 50%, 1);
    text-shadow: 0 0 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
    outline: none;
}

.button:active {
    --text-light: rgba(255, 255, 255, 1);

    background: linear-gradient(
            140deg,
            hsla(var(--back-color), 50%, 1) min(2em, 20%),
            hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
    );
    box-shadow: inset 0.4px 1px 8px var(--edge-light), 0 0 8px hsla(var(--back-color), 50%, 0.6);
    text-shadow: 0 0 20px var(--text-light);
    color: hsla(0, 0%, 100%, 1);
    letter-spacing: 0.1em;
    transform: scale(1);
}


/* Switches */

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
    background-color: #2196F3;
    box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
    display: block;
}

@keyframes checkAnim {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

.custom-checkbox:checked ~ .checkmark:after {
    animation: checkAnim 0.2s forwards;
}
