#lidar {
    position: relative;
    width: 71vmin;
    text-align: center;
}

#lidarCanvas {
    margin-top: 1em;
    right: 1em;
    width: 71vmin;
    height: 71vmin;
    background-color: black;
}